In [1]:
import os

import pandas as pd
import numpy as np

from shapely import wkt

from sklearn.model_selection import train_test_split

### Parameters

In [2]:
percent_in_train = 0.8

percent_in_valid = 0.1
percent_in_test = 0.1

df_path = '../../datasets/space_net_7/SN7_buildings_train_csvs/csvs/sn7_train_ground_truth_pix.csv'

output_path = '../../building_detection_dataset/dataset_2'

### verifications

In [3]:
os.makedirs(output_path, exist_ok=True)

In [4]:
assert (percent_in_train + percent_in_valid + percent_in_test) == 1

### Read df

In [21]:
df = pd.read_csv(df_path)
df.head()

,filename,id,geometry
0,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,91,"POLYGON ((814.9857745971531 845.6005742002744,..."
1,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,1452,"POLYGON ((886.3093001581728 842.7000443374272,..."
2,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,1616,"POLYGON ((930.1175056053326 840.4646877695341,..."
3,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,950,"POLYGON ((923.3884236379527 840.6308379401453,..."
4,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,1765,"POLYGON ((926.2129765632562 838.8862611351069,..."

In [22]:
df['AOI_name'] = df['filename'].apply(lambda x: x.split('_mosaic_')[1])
df.head()

,filename,id,geometry,AOI_name
0,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,91,"POLYGON ((814.9857745971531 845.6005742002744,...",L15-0331E-1257N_1327_3160_13
1,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,1452,"POLYGON ((886.3093001581728 842.7000443374272,...",L15-0331E-1257N_1327_3160_13
2,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,1616,"POLYGON ((930.1175056053326 840.4646877695341,...",L15-0331E-1257N_1327_3160_13
3,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,950,"POLYGON ((923.3884236379527 840.6308379401453,...",L15-0331E-1257N_1327_3160_13
4,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,1765,"POLYGON ((926.2129765632562 838.8862611351069,...",L15-0331E-1257N_1327_3160_13

In [24]:
len(df.drop_duplicates(['filename']))

1408

In [7]:
df['area'] = df['geometry'].apply(lambda x: wkt.loads(x).area)

In [8]:
df

,filename,id,geometry,AOI_name,area
0,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,91,"POLYGON ((814.9857745971531 845.6005742002744,...",L15-0331E-1257N_1327_3160_13,34.292637
1,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,1452,"POLYGON ((886.3093001581728 842.7000443374272,...",L15-0331E-1257N_1327_3160_13,10.483333
2,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,1616,"POLYGON ((930.1175056053326 840.4646877695341,...",L15-0331E-1257N_1327_3160_13,8.916699
3,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,950,"POLYGON ((923.3884236379527 840.6308379401453,...",L15-0331E-1257N_1327_3160_13,14.575904
4,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,1765,"POLYGON ((926.2129765632562 838.8862611351069,...",L15-0331E-1257N_1327_3160_13,7.729646
...,...,...,...,...,...
6664647,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,199,"POLYGON ((16.97475673863664 27.23368004325312,...",L15-1848E-0793N_7394_5018_13,15.680140
6664648,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,215,"POLYGON ((264.0363703723997 7.059356929617934,...",L15-1848E-0793N_7394_5018_13,15.183234
6664649,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,225,"POLYGON ((269.0208755340427 3.874811963876709,...",L15-1848E-0793N_7394_5018_13,14.953185
6664650,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,648,"POLYGON ((267.2209153408185 3.459436534205452,...",L15-1848E-0793N_7394_5018_13,3.489076
6664651,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,625,"POLYGON ((268.4670416307636 0.828725476050749,...",L15-1848E-0793N_7394_5018_13,5.521176

In [9]:
df = df[df['area'] > 50]

In [10]:
df

,filename,id,geometry,AOI_name,area
76,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,8,"POLYGON ((853.4530931916088 580.1451211456442,...",L15-0331E-1257N_1327_3160_13,81.723780
99,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,13,"POLYGON ((972.6206118757837 185.2943601929583,...",L15-0331E-1257N_1327_3160_13,63.849332
206,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,6,"POLYGON ((843.028692943044 988.2098052890506, ...",L15-0331E-1257N_1327_3160_13,100.849761
207,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,0,"POLYGON ((999.4021273562685 982.1907845423557,...",L15-0331E-1257N_1327_3160_13,193.462005
352,global_monthly_2018_01_mosaic_L15-0331E-1257N_...,24,"POLYGON ((696.1386488280259 861.7867393494816,...",L15-0331E-1257N_1327_3160_13,55.978589
...,...,...,...,...,...
6664563,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,1518,"POLYGON ((18.11734638782218 633.2970468353014,...",L15-1848E-0793N_7394_5018_13,180.857590
6664568,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,1402,"POLYGON ((79.24239375861362 600.3223710649181,...",L15-1848E-0793N_7394_5018_13,1660.314578
6664578,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,1403,"POLYGON ((26.71673442050815 609.0007599940291,...",L15-1848E-0793N_7394_5018_13,852.879813
6664614,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,12,"POLYGON ((388.1320877843536 451.8924741472583,...",L15-1848E-0793N_7394_5018_13,65.263475
6664615,global_monthly_2020_01_mosaic_L15-1848E-0793N_...,11,"POLYGON ((394.2796441516839 452.8893751791911,...",L15-1848E-0793N_7394_5018_13,72.121338

In [20]:
195274/6664652

0.02929995444623365

### Split dataset

In [25]:
train_valid = []
test = []
for _, group in df.groupby('AOI_name'):
    coin_toss = np.random.uniform()

    if coin_toss <= (percent_in_train + percent_in_valid):
        train_valid.append(group)
    else:
        test.append(group)

In [26]:
len(train_valid), len(test)

(59, 1)

In [27]:
train_valid_df = pd.concat(train_valid)

In [28]:
files_stats_df = train_valid_df.drop_duplicates('filename')[['filename', 'AOI_name']].copy()

In [29]:
files_stats_df['area_median'] = files_stats_df['filename'].apply(lambda x: np.percentile(train_valid_df[train_valid_df['filename'] == x]['area'], 0.5))
files_stats_df['area_min'] = files_stats_df['filename'].apply(lambda x: np.min(train_valid_df[train_valid_df['filename'] == x]['area']))
files_stats_df['area_max'] = files_stats_df['filename'].apply(lambda x: np.max(train_valid_df[train_valid_df['filename'] == x]['area']))
files_stats_df['area_25th_percentile'] = files_stats_df['filename'].apply(lambda x: np.percentile(train_valid_df[train_valid_df['filename'] == x]['area'], 0.25))
files_stats_df['area_75th_percentile'] = files_stats_df['filename'].apply(lambda x: np.percentile(train_valid_df[train_valid_df['filename'] == x]['area'], 0.75))

files_stats_df['no_buildings'] = files_stats_df['filename'].apply(lambda x: len(train_valid_df[train_valid_df['filename'] == x]['area']))

KeyError: 'area'

In [ ]:
files_stats_df

In [ ]:
train_files_stats_df, valid_files_stats_df, = train_test_split(files_stats_df, test_size=0.1)

In [ ]:
train_files_stats_df['no_buildings'].describe()

In [ ]:
valid_files_stats_df['no_buildings'].describe()

### Further split

In [ ]:
train = []
valid = []
for name, group in train_valid_df.groupby('filename'):
    if name in list(train_files_stats_df['filename']):
        train.append(group)
    else:
        valid.append(group)

In [ ]:
train_df = pd.concat(train)
valid_df = pd.concat(valid)
test_df = pd.concat(test)

### Save datasets

In [ ]:
# df.to_csv(os.path.join(output_path, 'all_df.csv'))

# train_df.to_csv(os.path.join(output_path, 'train.csv'))
# valid_df.to_csv(os.path.join(output_path, 'valid.csv'))
# test_df.to_csv(os.path.join(output_path, 'test.csv'))

### Load

In [15]:
# all_df = pd.read_csv(os.path.join(output_path, 'all_df.csv'))

# train_df = pd.read_csv(os.path.join(output_path, 'train.csv'))
# valid_df = pd.read_csv(os.path.join(output_path, 'valid.csv'))
# test_df = pd.read_csv(os.path.join(output_path, 'test.csv'))

### All

In [16]:
print('Total number of \033[1mAreas of interest\033[0m in the dataset \033[1m{}\033[0m'.format(len(all_df.drop_duplicates(['AOI_name']))))
print('Total number of \033[1mImages\033[0m in the dataset \033[1m{}\033[0m'.format(len(all_df.drop_duplicates(['filename']))))

print('Total number of \033[1munique houses\033[0m in the dataset \033[1m{:,.0f}\033[0m'.format(len(all_df.drop_duplicates(['AOI_name', 'id']))))
print('Total number of \033[1mpolygons\033[0m in the dataset \033[1m{:,.0f}\033[0m'.format(len(all_df)))

Total number of Areas of interest in the dataset 59
Total number of Images in the dataset 1372
Total number of unique houses in the dataset 9,527
Total number of polygons in the dataset 195,274

### Train

In [17]:
print('Total number of \033[1mAreas of interest\033[0m in the dataset \033[1m{}\033[0m'.format(len(train_df.drop_duplicates(['AOI_name']))))
print('Total number of \033[1mImages\033[0m in the dataset \033[1m{}\033[0m'.format(len(train_df.drop_duplicates(['filename']))))

print('Total number of \033[1munique houses\033[0m in the dataset \033[1m{:,.0f}\033[0m'.format(len(train_df.drop_duplicates(['AOI_name', 'id']))))
print('Total number of \033[1mpolygons\033[0m in the dataset \033[1m{:,.0f}\033[0m'.format(len(train_df)))

Total number of Areas of interest in the dataset 54
Total number of Images in the dataset 1131
Total number of unique houses in the dataset 8,521
Total number of polygons in the dataset 155,180

### Valid

In [18]:
print('Total number of \033[1mAreas of interest\033[0m in the dataset \033[1m{}\033[0m'.format(len(valid_df.drop_duplicates(['AOI_name']))))
print('Total number of \033[1mImages\033[0m in the dataset \033[1m{}\033[0m'.format(len(valid_df.drop_duplicates(['filename']))))

print('Total number of \033[1munique houses\033[0m in the dataset \033[1m{:,.0f}\033[0m'.format(len(valid_df.drop_duplicates(['AOI_name', 'id']))))
print('Total number of \033[1mpolygons\033[0m in the dataset \033[1m{:,.0f}\033[0m'.format(len(valid_df)))

Total number of Areas of interest in the dataset 50
Total number of Images in the dataset 126
Total number of unique houses in the dataset 7,856
Total number of polygons in the dataset 18,563

### Test

In [19]:
print('Total number of \033[1mAreas of interest\033[0m in the dataset \033[1m{}\033[0m'.format(len(test_df.drop_duplicates(['AOI_name']))))
print('Total number of \033[1mImages\033[0m in the dataset \033[1m{}\033[0m'.format(len(test_df.drop_duplicates(['filename']))))

print('Total number of \033[1munique houses\033[0m in the dataset \033[1m{:,.0f}\033[0m'.format(len(test_df.drop_duplicates(['AOI_name', 'id']))))
print('Total number of \033[1mpolygons\033[0m in the dataset \033[1m{:,.0f}\033[0m'.format(len(test_df)))

Total number of Areas of interest in the dataset 5
Total number of Images in the dataset 115
Total number of unique houses in the dataset 992
Total number of polygons in the dataset 21,531